<script>$(document).on( 'myPageLoadEvent', function(){WOTracker.initialize();});

</script>
<div id="workout-edit-area" data-loadurl="<%= api_user_workout_path(user_id: current_user.id, id:@workout.id) %>">
</div>
<%= link_to 'Do this workout now!', play_user_workout_path(id: @workout.id), 'data-no-turbolink'=>true %>