<h1>Welcome</h1>
<p>Workout Tracker is an app that allows you to create and manage your workout plan, time your workouts, and more.
</p>
<p>
  <%= link_to 'Register', register_path %> today and get started, absolutely free.
</p>
